.fea-item{
    background-image: url('../assets//home//featured.jpg')
  }

  .final-hw{
    background-image: url('https://i.ibb.co/7JHkn1g/johnathan-macedo-4-NQEvx-W2-4w-unsplash.webp')
  } 
  .who-hw{
    background-image: url('https://i.ibb.co/s9kTCpr/a1d355a11062808a903ab664c594f348-php-IZr-TYd.jpg');
    width: auto;
    
  } 